@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.product-card {
    background-color: #fff;
    width: 80vw;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
    margin: 20px 0;
}

.product-card img {
    width: 70%;
    object-fit: cover;
    
}

.info-block {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.product-name {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
}

.qr-code {
    width: 30%;
    display: block;
    margin: 10px auto;
}

.image-grid {
    display: flex;
    justify-content: space-between;
}

.image-grid img {
    width: 30%;
    object-fit: cover;
}

.emissions {
    font-weight: 300;
}

.manufacturer, .origin, .production-date {
    font-weight: 300;
    font-size: 0.8em;
    margin: 5px 0;
}


.info-block {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.product-name {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
}

.qr-code {
    width: 50%;
    display: block;
    margin: 10px auto;
}

.product-description {
    font-weight: 300;
}

.emissions {
    font-weight: 600;
}

.manufacturer, .origin, .production-date {
    font-weight: 300;
    font-size: 0.8em;
    margin: 5px 0;
}

