@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.product-card {
    background-color: #fff;
    width: 80vw;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
    margin: 20px 0;
}

.qr-code {
    width: 50%;
    display: block;
    margin: 15px auto;
     margin: 200px auto 5px;
}

.info-block {
    margin: 10px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    flex: 1;
    margin: 10px 5px;
}

.label {
    font-weight: 300;
    margin-bottom: 5px;
}

.value {
    font-weight: 900;
}

.product-name {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
}

.material-link {
    text-decoration: none;
    color: gray; 
    font-weight: 300;
    font-size: 0.8em;
    display: block;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 5px 0;
}

.image-container img {
    width: 30%;
    height: auto;
}
.hash-container {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.hash-title {
    font-weight: 300;
    margin-bottom: 5px;
}

.hash-value {
    font-weight: 600;
}


/* Additional styles for materials page */

table {
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    font-weight: 900;
}

.hash {
    font-weight: 300;
}

.percentage {
    font-weight: 300;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.back-button {
    display: inline-block;
    background-color: #cac8c8;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}


